.br-container {
    padding: 20px;
  }
  
  .home-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .product-list, .order-list, .rental-list {
    list-style-type: none;
    padding: 0;
  }
  
  .buy-button, .rent-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .order-list, .rental-list {
    margin-top: 20px;
  }
  